* {
   margin: 0;
   padding: 0%;
}
header{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 50px;
   grid-template-areas: "navegador";
   justify-items: center;
   align-items: center;
   background-image: linear-gradient(to left, rgb(78, 78, 78), black);
}
.header-lista{
   display: flex;
   justify-content:space-between;
   align-items: center;
   list-style-type: none;
   display: inline-block;
   justify-content: space-between;
   grid-area: navegador;
   width: 100%;
}
.nav{
   list-style: none;
   width: 30px;
   grid-area: navegador;
   
}
a {
   display: inline-block; 
   text-decoration: none;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 10px;
   color: rgb(248, 248, 248);
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   grid-area: navegador;
   
}
#buttonnav:hover{
   color:rgb(227, 231, 238);
   font-size: 25px;
   text-shadow: 0 5px  3px rgb(221, 124, 32);
   transform: translate( 5px, 5px );

}
 .title{
    padding:70px;
    background-image:url(../Images/coctail.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
 }
 
 H1 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: rgba(9, 7, 131, 0.863);
    text-align: center;
 }
.section1{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 750px;
   grid-template-areas: "a1 a1 a2";
   justify-items: center;
   align-items: center;
   margin-bottom: 10px;
}
p{
   grid-area: a1; 
   font-style: italic;
    font-size: medium;
    font-weight: lighter;
    background-color: rgb(150, 139, 243);
}
.lista1{
   grid-area: a1;
   list-style: none;
    text-align: left;
    text-indent: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
   font-weight: bold;
   line-height: 30px;
   background-color: rgb(150, 139, 243);
   width: 80%;
   height: 90%;
}
#imagen{
   grid-area: a2;
}
img{
   width: 90%;
   height: 90%;
}
 footer{
   
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    text-align: center;
 }
 h6{
    padding-top: 10px;
 }
 @media only screen and (max-width: 600px)
 {
    * 
    {margin: 0;
    padding: 0%;}
    header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 230px;
    grid-template-areas: "navegador titulo titulo";
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    background-color: #000;}
  .header-lista{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
    grid-area: navegador;
    width: 100%; }
 .nav{
    list-style: none;
    width: 30px;
    grid-area: navegador;
 }
 a {
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: rgb(240, 222, 222);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    grid-area: navegador;
    
 }
 .title {

   background-image:url(../Images/coctail.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    grid-area: titulo;
 }
 h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: rgb(249, 249, 249);
    text-align: center;
    text-overflow: inherit;
    text-shadow: 0 8px  0 rgb(71, 71, 71);}

.section1{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 1300px 300px;
       grid-template-areas: "cocktail"
        "foto";
       justify-items: center;
       align-items: center;
       
    }
    p{
      font-style: italic;
       font-size: medium;
       font-weight: lighter;
       background-color: rgb(150, 139, 243);
       grid-area: cocktail;
   }
   .lista1{
      list-style: none;
       text-align: left;
       text-indent: 5%;
       font-family: Arial, Helvetica, sans-serif;
       font-size: large;
      font-weight: bold;
      line-height: 20px;
      background-color: rgb(150, 139, 243);
      width: 80%;
      height: 90%;
      grid-area: cocktail;
   }
    #imagenes{
       width: 100%;
       height: 100%;
       grid-area: foto;
    }
  
}
