* {
   margin: 0;
   padding: 0%;
}
header{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 50px;
   grid-template-areas: "navegador";
   justify-items: center;
   align-items: center;
   background-image: linear-gradient(to left, rgb(78, 78, 78), black);
}
.header-lista{
   display: flex;
   justify-content:space-between;
   align-items: center;
   list-style-type: none;
   display: inline-block;
   justify-content: space-between;
   grid-area: navegador;
   width: 100%;
}
.nav{
   list-style: none;
   width: 30px;
   grid-area: navegador;
   
}
a {
   display: inline-block; 
   text-decoration: none;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 10px;
   color: rgb(248, 248, 248);
   font-size: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   grid-area: navegador;
   
}
#buttonnav:hover{
   color:rgb(227, 231, 238);
   font-size: 25px;
   text-shadow: 0 5px  3px rgb(221, 124, 32);
   transform: translate( 5px, 5px );

}
 .title{
    background-image:url(../Images/checkin.jpg);   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
    height: 300px;
 }
#parrafo1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 10px; 
    padding-bottom: 10px;
   }
 H1 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: rgba(30, 44, 238, 0.863);
    text-align: center;
    text-overflow: inherit;
    padding-top: 10px;  
 }
 h2{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(235, 49, 49);
    text-align: center;
    text-overflow: inherit;
    padding-top: 10px;  
 }
.section1{
    margin: 30px;
   padding-top: 20px;
   padding-bottom: 20px;
   justify-content: center;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 10px;
}
.section2{
    border-color: rgb(12, 12, 80);
    border-width: 10px;
    border-style: double;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.form{
    padding: 20px;
    line-height: 50px;
   text-align: center;
   font-size: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(0, 0, 0);
   
}
.button{
   outline: none;
   border: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: 10px;
   background-color: blue;
   color: antiquewhite;
   font-size: 15px;
   font-weight: bold;
   border-radius: 8rem;
}
.footer{
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    text-align: center;
 }
 h6{
    padding-top: 10px;
 }